language: php

php:
  - 7.2
  - 7.3

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - travis_retry composer self-update
  - composer install --no-interaction --prefer-dist

script:
  - composer lint
  - travis_retry composer cover

after_success:
  - bash <(curl -s https://codecov.io/bash)
